.price {
    min-height: 500px;
    padding: 55px 0;
    &__divider {
        margin: 0 auto;
        margin-top: 20px;
        width: 13%;
        height: 2px;
        background-color: $main-color;
    }
    &__subtitle {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        color: #2e2e2e;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
        margin-top: 35px;
        width: 24%;
        height: 390px;
        border: 2px solid #e9e9e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-header {
            height: 60px;
            width: 100%;
            background-color: #25333c;
            font-size: 16px;
            line-height: 23px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img {
            margin-top: 15px;
            width: 65px;
            height: 65px;
            img {
                width: 100%;
            }
        }
        &-title {
            margin-top: 15px;
            color: #2e2e2e;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &-subtitle {
            font-size: 28px;
            line-height: 30px;
            font-weight: 700;
            color: $main-color;
        }
        &-descr {
            width: 80%;
            margin-top: 20px;
            color: #2e2e2e;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
        }
        &-btn {
            width: 160px;
            position: absolute;
            bottom: 25px;
        }
    }
}
@media (max-width: 992px) {
    .price {
        &__item {
            width: 48%;
        }
    }
}
@media (max-width: 576px) {
    .price {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item {
            width: 96%;
        }
    }
}