.title {
    font-size: 26px;
    font-weight: 700;
    color: #2e2e2e;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    &_white {
        color: #fff;
        text-transform: none;
    }
}